// Variables
$text_heigh: 180px;

//Styles

* {
  margin: 0.2%;
  padding: 0.2%;

}


body{
  background-color: #eee;
}

h1{
  color: #555;
}

textarea{
  width: 28%;
  height: $text_heigh;
}

//Classes

.picture{
  float: left;
}

.body_text{
  float: right;
}


.head_text{

}

.thread{
}

